@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


.card-img-top {
  height: 220px !important;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
